.header {
    width:94%;
    height:10%;
    padding-left: 3%;
    padding-right: 3%;
    display: flex;
    justify-content: space-between;
}

.header img {
    height: 90%;
    padding: 1%;
    width: auto;
}

.header .navigation-buttons-div {
    width: 50%;
    display: flex;
    justify-content: end;
}

.header .navigation-buttons-div a {
    justify-self: center;
    align-self: center;
    padding: 1%;
}
